            <tr>
              <td data-sort="__INDEX__" data-filter="__INDEX__">__INDEX__</td>
              <td class="repo-column" data-sort="__REPOSITORY_NAME__" data-filter="__REPOSITORY_NAME__">__REPOSITORY_LINK__</td>
              <td class="pr-column" data-sort="__PULL_REQUEST_ID__" data-filter="__PULL_REQUEST_ID__ __TITLE__">__PULL_REQUEST_LINK__</td>
              <td data-sort="__DESCRIPTION_LENGTH__" data-filter="__DESCRIPTION_LENGTH__"__DESCRIPTION_SHORT_CLASS__>__DESCRIPTION_LENGTH__</td>
              <td data-sort="__OPEN_FOR_SORT__" data-filter="__OPEN_FOR__">__OPEN_FOR__</td>
              <td data-sort="__TTFR_SORT__" data-filter="__TTFR_FILTER__">__TTFR__</td>
              <td data-sort="__LAST_ACTIVITY_SORT__" data-filter="__LAST_ACTIVITY__">__LAST_ACTIVITY__</td>
              <td data-sort="__REQUEST_CHANGES_COUNT__" data-filter="__REQUEST_CHANGES_TEXT__">__REQUEST_CHANGES_BADGE__</td>
              <td data-sort="__APPROVALS_COUNT__" data-filter="__APPROVALS_TEXT__">__APPROVALS_BADGE__</td>
              <td data-sort="__MY_ACTIVITY_TEXT__" data-filter="__MY_ACTIVITY_TEXT__">__MY_ACTIVITY_BADGE__</td>
            </tr>
